* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    height: 80px;
    background: #fdcc04;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo{
    color: black;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

.nav-items{
    display: flex;
    gap: 30px;
    padding: 0 1.5rem;    
    font-size: 1.5rem;
}

nav a{
    text-decoration: none;
    color: black;
    /* padding: 0 1.5rem; */
}

nav a:hover{
    color: white;
}

.hero{
    background: #fdcc04;
}

.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 115vh; 
    padding: 3rem calc((100vw - 1300px) / 2);
    align-items: start;
}

.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
}


.column-left h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left h3{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.column-left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

button{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: 1px solid;
    color: #fdcc04;
    background: black;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    border-radius: 50px;
}

button:hover {
    /* translate: 0px -10px; */
    background: white;
    border-color: black;
    scale: 1.05; 
    opacity: 0.8;
}

img{
    object-fit: cover;
}

.column-right{
    display: flex;
    justify-content: center;
    padding: 0rem 2rem;
    align-items: center;
}

.hero-image{
    width: 400px;
    height: 400px;
}

@media  screen and (max-width: 760px){
    .hero-container{
        grid-template-columns: 1fr;
    }
}

footer{
    background-color: #fdcc04;
    font-size: 1.5rem;
}

main{
    background-color: #fdcc04;
}


details{
    font-size: x-large;
}